[submodule "vane-rs"]
	path = vane-rs
	url = https://prongbang@github.com/prongbang/vane-rs
[submodule "VaneSwift"]
	path = VaneSwift
	url = https://prongbang@github.com/prongbang/VaneSwift
[submodule "VaneKotlin"]
	path = VaneKotlin
	url = https://prongbang@github.com/prongbang/VaneKotlin
[submodule "vane_flutter"]
	path = vane_flutter
	url = https://github.com/prongbang/vane_flutter.git
