[submodule "vane-rs"]
	path = vane-rs
	url = https://github.com/prongbang/vane-rs
[submodule "VaneSwift"]
	path = VaneSwift
	url = https://github.com/prongbang/VaneSwift
[submodule "VaneKotlin"]
	path = VaneKotlin
	url = https://github.com/prongbang/VaneKotlin
